<div class="container">
  <h1>Here are all your favourite posts</h1>

  <% @favourite_posts.each do |p| %>
    <div class="col-md-4 col-xs-12 col-sm-6 outer-container">
      <div class="show_posts">
        <div class="image-wrapper">
          <%= image_tag p.image.url(:medium), class: "medium-image" %>
        </div>
        <div class="post-content">
          <h2><%= link_to p.title, post_path(p) %></h2>
          <p><%= truncate(p.body) %></p>
          <p><%= p.created_at.strftime("Created on %B, %d, %Y") %></p>
          <p>Created By: <%= p.user.full_name %></p>
          <p>like count: <%= p.likes.count %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pagination">
    <h2><%= paginate @favourite_posts %></h2>
  </div>
</div>
