<div class="container">
  <% @favourite_posts.each do |p| %>
    <div class="col-md-4 col-xs-12 col-sm-6 outer-container">
      <div class="show_posts">
        <div class="image-wrapper">
          <%= image_tag p.image.url(:medium), class: "medium-image" %>
        </div>
        <div class="post-content">
          <h2><%= link_to p.title.truncate(50), post_path(p) %></h2>
          <p><%= p.body.truncate(150, omission: '...(continued)') %></p>
          <div class="created-text">
            <p>Created By: <%= p.user.full_name %></p>
            <p><%= p.created_at.strftime("%B, %d, %Y") %></p>
          </div>
          <div class="like-buttons">
            <% if p.likes.count > 1 %>
              <p>Likes: <%= p.likes.count %></p>
            <% else %>
              <p>Like: <%= p.likes.count %></p>
            <% end %>
          </div>
        </div>
          <div class="social-buttons">
            <%= social_share_button_tag(p.title, :popup => "true") %>
          </div>
      </div>
    </div>
  <% end %>
</div>

  <div class="pagination">
    <h2><%= paginate @favourite_posts %></h2>
  </div>
</div>
