<%= form_for @post do |p| %>

  <% if @post.errors.any? %>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= p.label :title %>
    <%= p.text_field :title %>
  </p>
  <br>
    <p>
      <%= p.label :body %>
      <%= p.text_field :body %>
    </p>
  <br>
  <%= p.submit %>
<% end %>
