<div class="container-fluid main-content">
  <!-- This is for the alert notices at the top of the page -->
  <% if flash[:notice] %>
    <p class="alert alert-success"><%= notice %></p>
  <% elsif flash[:alert] %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<!-- This is for the most viewed post -->
  <div class="col-sm-12 viewed-recent">
    <div class="container">
      <div class="col-xs-12 col-sm-7">
        <div class="most_viewed">
          <div class="image-wrapper">
            <%= image_tag @post_viewed.image.url(), class: "image" %>
          </div>
          <h4>MOST VIEWED POST</h4>
          <h2><%= link_to @post_viewed.title, post_path(@post_viewed) %></h2>
          <p><%= truncate(@post_viewed.body) %></p>
        </div>
      </div>

<!-- this is the 5 most recent posts -->
      <div class="col-sm-5 col-xs-12">
        <h3>Search posts by tags</h3>
        <div id="tag_cloud">
          <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
          <p class="fa fa-tag btn btn-warning"> <%= link_to tag.name, tag_path(tag.name), class: css_class %></p>
          <% end %>
        </div>
        <h3>Most recent posts</h3>
        <ul>
          <% @posts_recent.each do |r| %>
            <li><h3><%= link_to r.title, post_path(r) %></h3>
            <p><%= truncate(r.body) %></p>
            <%= r.created_at.strftime("Created on %B, %d, %Y") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<!-- This is the main content that is being iterated over -->
  <div class="container">
    <% @posts.each do |p| %>
      <div class="col-md-4 col-xs-12 col-sm-6 outer-container">
        <div class="show_posts">
          <div class="image-wrapper">
            <%= image_tag p.image.url(:medium), class: "medium-image" %>
          </div>
          <div class="post-content">
            <h2><%= link_to p.title, post_path(p) %></h2>
            <p><%= truncate(p.body) %></p>
            <p><%= p.created_at.strftime("Created on %B, %d, %Y") %></p>
            <p>Created By: <%= p.user.full_name %></p>
            <p>like count: <%= p.likes.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- kaminari -->
  <div class="container">
    <h1><%= paginate @posts %></h1>
  </div>
</div>

</div>
