<div class="show_post-individual">

  <h1 class="post-title"><%= @post.title %></h1>
  <p class="post-date">Submitted <%= time_ago_in_words(@post.created_at) %> ago</p>

  <p class="post-body">
    <%= image_tag @post.image.url(:medium), class: "post-image" %>
    <%= @post.body %></br>
  </p>

  <div class="nav-buttons">
    <% if user_signed_in? %>

      <% favourite = @post.favourites.find_by_user_id(current_user.id) if user_signed_in? %>
      <% if favourite %>
        <%= link_to fa_icon("star 4x"), [@post, favourite], method: :delete %>
      <% else %>
        <%= link_to fa_icon("star-o 4x"), post_favourites_path(@post), method: :post %>
      <% end %>


      <% like = @post.likes.find_by_user_id(current_user.id) if user_signed_in? %>
      <% if like %>
        <%= link_to fa_icon("thumbs-up 4x"), post_like_path(@post, like), method: :delete %>
      <% else %>
        <%= link_to fa_icon("thumbs-o-up 4x"), post_likes_path(@post), method: :post %> |
      <% end %>

      <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-default" %> |
      <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-default" %>
    <% end %>

    <% @post.categories.each do |n| %>
      <p class="fa fa-tag btn btn-warning"> <%= n.name %></p>
    <% end %>
  </div>

  <%= render "comments/comment" %>

  <p>There are <%= @post.comments.count %> Comments</p>

  <% @post.comments.each do |c| %>
  <p><%= c.body %></p><br>
  <p>Created : <%= time_ago_in_words(c.created_at) %> ago</p>
  <p>Created by: <%= c.user.full_name %></p>

    <% if user_signed_in? %>
    <%= link_to "Delete Comment", post_comment_path(@post, c), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"}, class: "fa fa-trash-o fa-lg btn btn-danger" %></a>
    <% end %>
  <% end %>

<!-- What should this paginate???? -->
<%#= paginate @post.comments %>


</div>
