<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lobster' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Cabin' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <h1 class="animated flipInY blog_header navbar-brand">Blog</h1>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "New Post", new_post_path, class: "btn btn-success" %></li>
          <li> </li>
          <% if user_signed_in? %>
            <li><h3>Welcome <%= current_user.full_name %></h3><li>
            <li><%= link_to "Favourites", favourites_path, class: "btn btn-warning" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-success" %></li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path, class: "btn btn-success" %></li>
            <li><%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <!-- <div class="container-fluid full-site"> -->
    <div class="col-sm-2 sidebar">
      <ul>
        <!-- <li class="sidebar_blog"><%= link_to "Blog", root_path %></li> -->
        <li class="sidebar_blog">
          <% if current_page?(root_path) %>
            All Blogs
          <% else %>
            <%= link_to "All Blog Posts", root_path %>
          <% end %>
        </li>

      </ul>

      <ul>
        <li class"sidebar_social">Social</li>
        <li><a href="http://twitter.com/azhopkins">Twitter</a></li>
        <li><a href="http://github.com/azrielh">GitHub</a></li>
        <li><a href="mailto:azhopkins@gmail.com">Email</a></li>
      </ul>
    </div>

    <!-- from devise -->
      <div class="col-sm-10 maincontent container">
        <% if flash[:notice] %>
          <p class="alert alert-success"><%= notice %></p>
        <% elsif flash[:alert] %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>

      </div>

</body>
</html>
