<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lobster' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Cabin' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">

      <h1 class="animated flipInY blog_header">Blog</h1>

      <div class="nav navbar-nav navbar-right">
        <p class="btn btn-default"><%= link_to "New Post", new_post_path %></p>
          <% if user_signed_in? %>
            <button class="btn btn-default"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
            <p>Welcome <%= current_user.full_name %></p>
          <% else %>
            <p class="btn btn-default"><%= link_to "Register", new_user_registration_path %></p>
            <p class="btn btn-default"><%= link_to "Sign In", new_user_session_path %></p>
          <% end %>
        </div>
      </div>
    </div>

  <!-- end of the navbar -->

  <!-- <div class="container-fluid full-site"> -->
    <div class="col-sm-2 sidebar">
      <ul>
        <!-- <li class="sidebar_blog"><%= link_to "Blog", root_path %></li> -->
        <li class="sidebar_blog">
          <% if current_page?(root_path) %>
            All Blogs
          <% else %>
            <%= link_to "All Blog Posts", root_path %>
          <% end %>
        </li>
        <!-- <li>About</li> -->
      </ul>

      <ul>
        <li class"sidebar_social">Social</li>
        <li><a href="http://twitter.com/azhopkins">Twitter</a></li>
        <li><a href="http://github.com/azrielh">GitHub</a></li>
        <li><a href="mailto:azhopkins@gmail.com">Email</a></li>
      </ul>
    </div>

    <!-- from devise -->
    <div class="col-sm-10 maincontent">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield %>
    </div>
  <!-- </div> -->

</body>
</html>
