<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lobster' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Cabin' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid full-site">
  <nav class="navbar navbar-default">

        <a class="navbar-brand azimg" id="azimg">
          <%= link_to root_path do %>
            <%= image_tag "az.jpg" %>
          <% end %>
        </a>


      <h1 class="animated flipInY header">Welcome to the blog</h1>

      <% if current_page?(root_path) %>
        <p>All Posts</p>
      <% else %>
        <p><%= link_to "Back to All Posts", root_path %></p>
      <% end %>

      <div class="buttons">
        <button class="button"><%= link_to "New Post", new_post_path %></button>

        <% if user_signed_in? %>
          <p>Welcome <%= current_user.full_name %></p>
          <button class="button"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
        <% else %>
        <button class="button"><%= link_to "Register", new_user_registration_path %></button>
        <button class="button"><%= link_to "Sign In", new_user_session_path %></button>
        <% end %>
      </div>
    </div>

  </nav>
    <!-- end of the navbar -->
    <div class="col-sm-3 sidebar">
    <ul>
      <li class="sidebar_title">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li>About</li>
    </ul>

    <ul>
      <li class"sidebar_title">Social</li>
      <li><a href="http://twitter.com/azhopkins">Twitter</a></li>
      <li><a href="http://github.com/azrielh">GitHub</a></li>
      <li><a href="mailto:azhopkins@gmail.com">Email</a></li>
    </ul>
  </div>

    <!-- from devise -->
    <div class="col-sm-9 maincontent">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield %>
    </div>


    </div>

  </div>


</body>
</html>
